@media only screen and (min-width: 981px) {
    #et_top_search {
        display: none;
    }
}

#lang_sel {
    float: right !important;
}

.custom-tabs {

}

/*---------- [Equalise the Tabs] ----------*/
.custom-tabs .et_pb_tabs_controls li {
    width: 25%; /*change width of tabs here depending on the number of tabs you have*/
    text-align: center;
}
@media screen and (max-width: 768px){ /*change device breakpoint here depending on the number of tabs you have*/
  #post-37 > div > div.et_pb_section.et_pb_section_2.et_pb_with_background.et_section_regular > div > div > div > ul li {
    width: 100% !important; 
    text-align: center;
  }
}