#post-185 {
  display: none !important;
}

#post-88 {
  display: none !important;
}

#post-92 {
  display: none !important;
}

#instalaciones-dark {
  margin-bottom: 0 !important;
  padding-bottom: 90px !important;
}

#instalaciones-light > div > div.col.col-6.col-last.home-info-section-1-content.in-viewport {
  padding-top: 0 !important;
}

@media (max-width: 768px) {
  #telephone {
    display: none;
  }

  #logo > a > img {
    width: 65%;
  }

  #header-social > a {
    font-size: 25px;
  }

  #header-social > span.header-search-mobile-nav-hook {
    font-size: 25px;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 767px) {
    body #slider {
        padding-top: 250px !important;
    }
}

.breadcrumb {
  text-align: center;
  font-size: 1.3em;
  color: #47B1E3;
  font-weight: 400;
}

#aqvera-intro {
  padding-top: 30px;
}

#horario {
  margin-bottom: 0;
}

body.page-id-92 > div#page > div#main {
  background-color: #2E546A;
}